<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/alertify")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/alertify")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <link href="~/Content/alertify.css" rel="stylesheet" />
    <link href="~/Content/zebra-datepicker/zebra_datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/zebra_datepicker.js"></script>
    <script src="~/Scripts/alertify.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                
                    <li>@Html.ActionLink("App User", "List", "AppUser")</li>
                    <li>@Html.ActionLink("Employee", "Index", "Employee")</li>
                    <li>@Html.ActionLink("Costumer", "Index", "Costumer")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Html.Partial("_ErrorMessagePartial")
        @RenderBody()
        <hr />
        <footer>
           
        </footer>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input.datepicker').Zebra_DatePicker(
                {
                    direction: 0,
                    format: "d/m/Y",
                    first_day_of_week: 0,
                    pair: Attr.pair ? $(Attr.pair) : false
                });
        });
    </script>

   
    @RenderSection("scripts", required: false)
</body>
</html>
