
@{
    
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <div class="form-inline">
        <div class="form-group">
            <label for="Name" class="control-label">Name</label>
            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" value="@ViewBag.Name" />
        </div>
        <div class="form-group">
            <label for="GenderId" class="control-label">Gender</label>
            @Html.DropDownList("GenderID", null, "--All Gender--", new { @class="form-control"})
        </div>
        <div class="form-group">
            <label for="Address" class="control-label">Address</label>
            <input type="text" class="form-control" id="Address" name="Address" placeholder="Address" value="@ViewBag.Address" />
        </div>
        <button type="button" id="btnSearch" class="btn btn-primary" style="margin-top:25px;" >Search</button>            
    </div>  
<div id="DataDetail">
    @Html.Action("Detail")
</div> 

@section scripts{
    <script type="text/javascript">
        $('#btnSearch').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("Detail","Costumer")',
                type: 'Get',
                data: { Name: Name.value,GenderID:GenderID.value, Address: Address.value },
                success: function (results) {
                    $('#DataDetail').html(results)
                },
                error: function () {
                    alert('Error Occured!!');
                }
            });
        });
    </script>
}